.movies {
  width: 100%;
  box-sizing: border-box;
  margin: 70px auto;
}

.movies__list {
  height: 100%;
  max-height: 1100px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-rows: 1fr;
  gap: 60px 30px;
  grid-auto-flow: row;
  justify-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 47px 30px;
  }
}