.movie {
  height: 231px;
  width: 360px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: relative;
}

.movie__image {
  height: 201px;
  width: 360px;
  border-radius: 6px;
}

.movie__image:hover {
  cursor: pointer;
}

.movie__subtitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.movie__name {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 0 14px;
}

.movie__time-container {
  box-sizing: border-box;
  margin: 0;
  background-color: #2f2f2f;
  width: 52px;
  height: 18px;
  border-radius: 3px;
  color: #8b8b8b;
  font-weight: 400;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 4px;
}

@media screen and (max-width: 350px) {
  .movie__image {
    height: 168px;
    width: 300px;
  }

  .movie {
    width: calc(100% - 20px);
  }
}
