.movies-page {
  width: calc(100% - 140px);
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-page__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #2f2f2f;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin-bottom: 12px;
}

.movies-page__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .movies-page {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 650px) {
  .movies-page {
    width: calc(100% - 20px);
  }

  .movies-page__button {
    width: 240px;
  }
}