.movies-page {
  width: calc(100% - 140px);
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-page__not-found {
  font-weight: 400;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .movies-page {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 650px) {
  .movies-page {
    width: calc(100% - 20px);
  }

  .movies-page__button {
    width: 240px;
  }
}
