.profile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__form {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  min-height: 350px;
  justify-content: space-between;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 123px;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  width: 410px;
  min-height: 31px;
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
  padding: 16px 0 17px;
}

.profile__label:last-of-type {
  border-bottom: none;
}

.profile__input {
  border: none;
  background-color: #202020;
  text-align: end;
  color: #fff;
}

.profile__input:focus {
  outline: 1px solid #3ddc84;
}

.profile__buttons {
  display: flex;
  flex-direction: column;
  min-height: 48px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.profile__button {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  border: none;
  background-color: #202020;
}

.profile__button_exit {
  color: #ee3465;
}

.profile__button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__button_hidden {
  visibility: hidden;
}

.profile__save-button {
  width: 396px;
  height: 45px;
  border-radius: 3px;
  background-color: #4285f4;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 0;
}

.profile__save-button:disabled {
  border: none;
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profile__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__input-error {
  color: #ff004c;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  margin-top: 10px;
}

@media screen and (max-width: 430px) {

  .profile__title {
    margin-bottom: 80px;
  }
  .profile__form {
    width: calc(100% - 30px);
    height: calc(100% - 250px);
  }

  .profile__label {
    width: 100%;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  } 

  .profile__save-button {
    width: 260px;
  }

  .profile__buttons {
    margin-bottom: 40px;
  }
}