.form-container {
  width: 396px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 38px;
  height: 38px;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.form {
  display: flex;
  flex-direction: column;
  height: 266px;
}

.input-caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin: 3px 0;
}


.input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.input {
  width: 100%;
  min-height: 46px;
  background-color: #2f2f2f;
  border-radius: 8px;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 10px 0;
  box-sizing: border-box;
  padding-left: 15px;
}

.input:focus {
  outline: 1px solid #3ddc84;
}

.input:first-child {
  margin-top: 0;
}

.form__buttons {
  margin-bottom: 70px;
}

.form__save-button {
  width: 396px;
  height: 45px;
  border-radius: 3px;
  border: none;
  background-color: #4285f4;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 69px;
}

.form__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__save-button:disabled {
  border: none;
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8b8b8b;
  margin-top: 16px;
}

.form__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
}

.form__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.input-error {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin: 12px;
}

@media screen and (max-width: 500px) {
  .form-container {
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    margin-top: 0;
  }
  
  .form {
    width: calc(100% - 60px);
    height: calc(100vh - 250px);
    justify-content: space-between;
    margin-top: 40px;
  }

  .form__save-button {
    width: 260px;
    margin: 0;   
  }

  .form__title {
    margin-top: 50px;
  }

  .form__text {
    font-size: 12px;
    line-height: 15px;
  }

  .form__link {
    font-size: 12px;
    line-height: 15px;
  }  

  .form__buttons {
    margin-bottom: 30px;
  }
}