.portfolio {
  width: calc(100% - 140px);
  max-width: 1140px;
  min-height: 310px;
  margin-bottom: 29px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 0;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
}

.portfolio__element {
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
  padding-bottom: 25px;
}

.portfolio__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__name {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  color: #fff;
}

.portfolio__element:last-child {
  border: none;
}

.portfolio__icon {
  width: 20px;
  height: 60px;
}

@media screen and (max-width: 1250px) {
  .portfolio {
    width: calc(100% - 100px);
  }  

  .portfolio__name {
    font-size: 28px;
  }
  
}
