.navigation {
  width: 100%;
}

.navigation__links {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  padding: 0;
}

.navigation__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__button_login {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  background-color: #3ddc84;
  border-radius: 3px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: auto 8px;
}

.navigation__link_login {
  color: #000;
}

.navigation__links_login {
  justify-content: space-between;
}

.navigation__button_account {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #313131;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}