.search {
  width: 100%;
  min-height: 215px;
  border-bottom: 1px solid #424242;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.search__form {
  width: 100%;
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 20px 16px;
}

.search__button {
  width: 44px;
  height: 44px;
  border-radius: 5px;
  border: none;
  background-image: url(../../images/find.svg);
  background-size: cover;
  margin-left: 10px;
}

.search__button:hover {
  opacity: 0.8;
  cursor: pointer;
}