.saved-movies {
    width: calc(100% - 140px);
    max-width: 1140px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
@media screen and (max-width: 1250px) {
  .saved-movies {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 350px) {
  .saved-movies {
    width: calc(100% - 20px);
  }
}