.checkbox[type="checkbox"] {
    position: absolute;
    width: 1px; 
    height: 1px;
    overflow: hidden; 
    clip: rect(0 0 0 0);
} 
.checkbox__label {
  width: 156px;
  display: flex;
  align-items: center;
}

.checkbox__label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 12px;
}

.checkbox[type="checkbox"] + span {
  width: 36px;
  height: 20px;
  border-radius: 20px;
  position: relative;
}
.checkbox[type="checkbox"]:not(checked) + span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background: #ebebeb;
}

.checkbox[type="checkbox"]:not(checked) + span:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #f5f5f5;
  transition: all .2s; 
}

.checkbox[type="checkbox"]:checked + span:before {
  background: #2be080;
}

.checkbox[type="checkbox"]:checked + span:after {
  left: 18px;
  background-color: #fff
}