.footer {
  width: calc(100% - 140px);
  max-width: 1140px;
  min-height: 172px;
}

.footer__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 79px 0 20px;
}

.footer__container {
  border-top: 1px solid #424242;
  display: flex;
  justify-content: space-between;
}

.footer__year {
  margin: 20px 0;
}

.footer__links {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
}

.footer__link {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}