.techs {
  width: 100%;
  max-width: 1280px;
  min-height: 625px;
  box-sizing: border-box;
  padding: 100px 70px;
  background-color: #272727;
}

.techs__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  margin: 0 auto 23px;
}

.techs__info {
  border-top: 1px solid #dadada;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.techs__info-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 90px 0 26px;
}

.techs__info-text {
  max-width: 500px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  text-align: center;
}

.techs__icons {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.techs__icon {
  box-sizing: border-box;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background-color: #303030;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 21px;
  margin-right: 10px;
}