.student {
  width: calc(100% - 140px);
  max-width: 1140px;
  min-height: 544px;
  margin-top: 110px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.student__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;  
}

.student__info-text-container {
  width: 600px;
}

.student__info {
  width: 100%;
  border-top: 1px solid #dadada;
  box-sizing: border-box;
  padding-top: 66px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.student__info-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 0;
}

.student__info-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 18px 0 26px;
}

.student__info-text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.student__links {
  padding: 0;
  margin: 99px 0 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.studen__link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.studen__link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.student__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
  justify-self: end;
  align-self: center;
}


@media screen and (max-width: 950px) {
  .student {
    width: calc(100% - 100px);
    margin-top: 90px;
  }

  .student__info {
    width: 100%;
    gap: 49px;
  }  

  .student__info-title {
    font-size: 40px;
    line-height: 40px;
  }
  
  .student__info-subtitle {
    font-size: 12px;
    line-height: 18px;
    margin: 16px 0 20px;
  }

  .student__info-text-container {
    width: 365px;
  }
  
  .student__info-text {
    font-size: 12px;
    line-height: 18px;
  }
  
  .student__photo {
    width: 255px;
    height: 307px;
  } 

  .student__links {
    margin-top: 87px;
  }

}

@media screen and (max-width: 550px) {
  .student {
    width: calc(100% - 28px);
    margin-top: 70px;
    align-items: center;
  }  
 
  .student__title {
    font-size: 18px;
    line-height: 22px;
    align-self: flex-start;
  }  

  .student__info {
flex-direction: column-reverse;  }  

  .student__info-title {
    font-size: 30px;
    line-height: 36px;
  }
  
  .student__info-subtitle {
    font-size: 11px;
    line-height: 16px;
    margin: 20px 0;
  }

  .student__info-text-container {
    max-width: 100%;
  }
   
  .student__info-text {
    font-size: 11px;
    line-height: 16px;
    width: calc(100% - 28px);
  }
  
  .student__photo {
    width: 100%;
    height: 352px;
    grid-row: 1;
  } 

  .student__links {
    margin-top: 40px;
  }
}