.nav__links {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.nav__link {
  height: 36px;
  width: 96px;
  background-color: #303030;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
  box-sizing: border-box;
}

.nav__link:first-child {
  margin: 0;
}

.nav__button {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}